.add-form {
    position: fixed;
    width: 50%;
    height: 50%;
    padding-top: 50px;
    padding-left: 50px;
    z-index: 1;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3d3b407d;
}