<div class="p-d-flex p-flex-column p-flex-sm-row">
      <div class="p-d-flex p-flex-column p-mb-2 p-mr-2">
        <p-calendar [(ngModel)]="date" (ngModelChange)="changeDate()" [inline]="true"></p-calendar>
        <p-button class="p-as-center p-m-3" label="Click" (click)="showForm = true"></p-button>
      </div>
      <div div class="p-mb-2 p-mr-2">
        <div *ngFor="let event of currentEvents">
            <app-event [type]="event.type" [name]="event.name" [money]="event.money" [addres]="event.addres" [time]="event.time" [other]="event.other"></app-event>
        </div>
      </div>
      <div *ngIf="showForm" class="background">
        <p-card class="add-form" header="Добавить событие">
          <span class="p-float-label p-mb-4">
            <input id="name-input" type="text" pInputText [(ngModel)]="currentName"> 
            <label for="name-input">Название события</label>
          </span>
          <div class="p-mb-4">
            <p-dropdown [options]="types" [(ngModel)]="selectedType" placeholder="Тип события" optionLabel="name"></p-dropdown>
          </div>
          <span *ngIf="selectedType.code === 1" class="p-float-label p-mb-4">
            <input id="addres-input" type="text" pInputText [(ngModel)]="currentAddres"> 
            <label for="addres-input">Куда идти?</label>
          </span>
          <span *ngIf="selectedType.code === 1" class="p-float-label p-mb-4">
            <input id="time-input" type="text" pInputText [(ngModel)]="currentTime"> 
            <label for="time-input">Во сколько?</label>
          </span>
          <span *ngIf="selectedType.code === 0" class="p-float-label p-mb-4">
            <input id="money-input" type="text" pInputText [(ngModel)]="currentMoney"> 
            <label for="money-input">Бюджет</label>
          </span>
          <span *ngIf="selectedType.code === 2" class="p-float-label p-mb-4">
            <input id="other-input" type="text" pInputText [(ngModel)]="currentOther"> 
            <label for="other-input">Текст заметки</label>
          </span>
          <p-button class="p-as-center p-m-3" label="Отмена" (click)="showForm = false"></p-button>
          <p-button class="p-as-center p-m-3" label="Сохранить" (click)="saveForm()"></p-button>
        </p-card>
      </div>
</div>


