<div class="container p-d-flex p-flex-column p-mb-2">
    <div class="header p-pl-2">{{name}}</div>
    <ng-container *ngIf="type === 0">
        <div class="content p-pl-2 p-mt-2">
            Бютжет: {{money}} $
        </div>
    </ng-container>
    <ng-container *ngIf="type === 1">
        <div class="content p-pl-2 p-mt-2">
            Адрес: {{addres}}
        </div>
        <div class="content p-pl-2 p-mt-2">
            Время: {{time}}
        </div>
    </ng-container>
    <ng-container *ngIf="type === 2">
        <div class="content p-pl-2 p-mt-2">
            {{other}}
        </div>
    </ng-container>
</div>
