.container {
    min-width: 410px;
    max-width: 600px;
    border: solid 1px #ced4da;
    border-radius: 3px;
}

.header {
    color: #0d89ec;
    font-style: italic;
    font-size: 18px;
}

.content {
    font-size: 18px;
}